# Sampling code for the example TEDS-A data sets

### A component of a final project (see https://github.com/mbreitzig/ADS_2020)

#### by Mason T. Breitzig

##### Instructor: Asim Banskota

##### Date: 4/20/20

## Purpose of this sampling code

Since TEDS-A data tends to be very large, this code exists to show how the example data files stored on the github repository were truncated, and also to provide the ability to test the main pipeline with your own cutstom truncated TEDS-A data. 

The original 2015, 2016, and 2017 TEDS-A datasets were acquired from https://www.datafiles.samhsa.gov/study-series/treatment-episode-data-set-admissions-teds-nid13518. 

They were then imported and a simple random sample of 5% of the observations was selected from each. These subsampled datasets were then exported to csv (and pickle) files for use in the main code of this project.

In [1]:
# Import necessary packages
import numpy as np
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# Assign the file paths
TEDSA1 = "C:/Users/mbrei/Desktop/TEDSA_2015.csv"
TEDSA2 = "C:/Users/mbrei/Desktop/TEDSA_2016.csv"
TEDSA3 = "C:/Users/mbrei/Desktop/TEDSA_2017.csv"

In [3]:
# Load the data in chunks and append
df1 = pd.read_csv(TEDSA1, chunksize = 100)
chunk_list = [] 
for chunk in df1:  
    chunk_list.append(chunk)  
df1_concat = pd.concat(chunk_list)

df2 = pd.read_csv(TEDSA2, chunksize = 100)
chunk_list = [] 
for chunk in df2:  
    chunk_list.append(chunk)  
df2_concat = pd.concat(chunk_list)

df3 = pd.read_csv(TEDSA3, chunksize = 100)
chunk_list = [] 
for chunk in df3:  
    chunk_list.append(chunk)  
df3_concat = pd.concat(chunk_list)

In [4]:
# Select a simple random sample of the data
df1s = df1_concat.sample(frac=0.05, replace=False, random_state=5)
df2s = df2_concat.sample(frac=0.05, replace=False, random_state=5)
df3s = df3_concat.sample(frac=0.05, replace=False, random_state=5)

In [5]:
# Get the number of observations of the original data
len(df1_concat.index)
len(df2_concat.index)
len(df3_concat.index)

# Get the number of observations of the sampled data
len(df1s.index)
len(df2s.index)
len(df3s.index)

1840614

1916523

2005395

92031

95826

100270

In [6]:
# Preview
df1s.head(5)
df2s.head(5)
df3s.head(5)

,Unnamed: 0,ADMYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
1460464,1460465,2015,20150885002,36,35620,1,-9,2,-9,-9,...,0,0,0,0,0,0,2,1,0,3
1755820,1755821,2015,20151108862,51,32300,3,-9,7,-9,0,...,0,0,0,0,0,0,5,3,-9,0
1364812,1364813,2015,20150487840,36,35620,5,-9,2,-9,-9,...,0,0,0,0,0,0,2,1,-9,1
831156,831157,2015,20151166794,24,-9,3,1,7,-9,0,...,0,0,0,0,0,0,5,3,-9,0
7688,7689,2015,20150971083,1,-9,4,1,2,-9,1,...,0,0,0,0,0,0,6,3,1,2

,Unnamed: 0,ADMYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
606417,606418,2016,20160337138,17,16980,3,1,2,-9,0,...,0,0,0,0,0,0,3,2,-9,2
1165471,1165472,2016,20160291312,31,36540,4,1,6,8,0,...,0,0,0,0,0,0,4,2,-9,1
339781,339782,2016,20161867814,6,42220,3,-9,5,8,0,...,0,0,0,0,0,0,9,4,-9,2
729602,729603,2016,20160913826,25,14460,3,4,2,-9,5,...,0,0,0,0,0,0,1,1,-9,1
1632342,1632343,2016,20160698417,42,37980,5,1,2,-9,0,...,0,0,0,0,0,0,2,1,-9,2

,Unnamed: 0,ADMYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
114088,114089,2017,20171749280,6,42220,3,-9,2,-9,5,...,0,0,0,0,0,0,9,4,1,3
1610659,1610660,2017,20170821789,36,35620,2,1,4,-9,5,...,0,0,0,0,0,0,2,1,-9,2
583326,583327,2017,20170081942,19,-9,2,1,7,1,0,...,0,0,0,0,0,0,4,2,-9,3
1193320,1193321,2017,20171396238,37,-9,4,1,6,-9,5,...,0,0,0,0,0,1,5,3,-9,3
432292,432293,2017,20171982122,8,-9,2,4,7,7,1,...,0,0,0,0,0,0,8,4,1,2

In [7]:
# Drop the 'unnamed' columns
df1s.drop('Unnamed: 0', axis=1, inplace=True)
df2s.drop('Unnamed: 0', axis=1, inplace=True)
df3s.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
# Export the files as csv for the main code
df1s.to_csv('‪TEDSA_2015s.csv', index=False)
df2s.to_csv('‪TEDSA_2016s.csv', index=False)
df3s.to_csv('‪TEDSA_2017s.csv', index=False)

In [9]:
# Export the files as pickle for other purposes
df1s.to_pickle('TEDSA_2015spk')
df2s.to_pickle('‪TEDSA_2016spk')
df3s.to_pickle('TEDSA_2017spk')

Note: The files will be located in the same directory as the notebook